/* Boards */
.boards {
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.board {
    flex: 0 0 auto;
    width: 340px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 1px;
    margin-left: 40px;
    background-color: white;
    cursor: pointer;
}

.board-skeleton {
    flex: 0 0 auto;
    box-sizing: border-box;
    border-radius: 1px;
    margin-left: 40px;
    width: 340px;
    height: 200px;
    background: gainsboro;

    animation: skeleton-pulse 1s infinite;
}

.board-skeleton:nth-child(1) {
    margin-left: 0;
}

.board:nth-child(1) {
    margin-left: 0;
}

.board:hover {
    border: 1px solid #24799e;
    box-shadow: 0 1px 6px #24799e;
}

.board-title {
    margin: 24px 0 0 24px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 70%;
}

/* Trash icon */
.board .trash {
    position: relative;

    /* top: 55%;
    left: 75%; */

    font-family: 'Karla', sans-serif;
    background-color: transparent;
    border: none;
    color: #54585A;
}

.trash:hover {
    color: #c42d1c;
}

/* Pencil icon */
.board .pencil {
    position: relative;

    /* top: -15%;
    left: 87%; */

    font-family: 'Karla', sans-serif;
    background-color: transparent;
    border: none;
    color: #54585A;
}

.board .pencil:hover {
    color: #ffc400;
}

@keyframes skeleton-pulse {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.5;
    }
}